/*Copyright © Sam Savage 2016*/
/* header navigation menu */
ul.navigationmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

    ul.navigationmenu li {
        float: left;
    }

        ul.navigationmenu li a {
            display: inline-block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

            ul.navigationmenu li a:hover {
                background-color: #111;
            }

        ul.navigationmenu li.icon {
            display: none;
        }

@media screen and (max-width:680px) {
    ul.navigationmenu li:not(:first-child) {
        display: none;
    }

    ul.navigationmenu li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.navigationmenu.responsive {
        position: relative;
    }

        ul.navigationmenu.responsive li.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        ul.navigationmenu.responsive li {
            float: none;
            display: inline;
        }

            ul.navigationmenu.responsive li a {
                display: block;
                text-align: left;
            }
}

/* product gallery page */
#leftnav {
    width: 30%;
    float: left;
}

    #leftnav img {
        max-width: 100px;
    }

        #leftnav img.selected {
            opacity: .5;
        }

#rightnav {
    width: 30%;
    float: right;
}

    #rightnav img {
        max-width: 100px;
    }

        #rightnav img.selected {
            opacity: .5;
        }

#centerimage {
    width: 40%;
}

img {
    border: 5px solid black;
    max-width: 500px;
    /*margin: auto;*/
    /*text-align: center;*/
    /*display: block;*/
}



body {
    font-family: 'Segoe UI', sans-serif;
}

/*span {
    font-style: italic;
}*/

h1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #333;
    /*margin-top: 150px;*/
}

.accordion {
    width: 100%;
    max-width: 1580px;
    height: 550px;
    overflow: hidden;
    margin: 50px auto;
}

    .accordion ul {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin: 0;
        padding: 0;
    }

        .accordion ul li {
            display: table-cell;
            vertical-align: bottom;
            position: relative;
            width: 16.666%;
            height: 550px;
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 500ms ease;
            border: 5px solid black;
        }

            .accordion ul li div {
                display: block;
                overflow: hidden;
                width: 100%;
            }

                .accordion ul li div a {
                    display: block;
                    height: 550px;
                    width: 100%;
                    position: relative;
                    z-index: 3;
                    vertical-align: bottom;
                    padding: 15px 20px;
                    box-sizing: border-box;
                    color: #fff;
                    text-decoration: none;
                    font-family: Open Sans, sans-serif;
                    transition: all 200ms ease;
                }

                    .accordion ul li div a * {
                        opacity: 0;
                        margin: 0;
                        width: 100%;
                        text-overflow: ellipsis;
                        position: relative;
                        z-index: 5;
                        white-space: nowrap;
                        overflow: hidden;
                        -webkit-transform: translateX(-20px);
                        transform: translateX(-20px);
                        -webkit-transition: all 400ms ease;
                        transition: all 400ms ease;
                    }

                    .accordion ul li div a h2 {
                        font-family: Montserrat, sans-serif;
                        text-overflow: clip;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-bottom: 2px;
                        top: 160px;
                    }

                    .accordion ul li div a p {
                        top: 160px;
                        font-size: 13.5px;
                    }

            .accordion ul li:nth-child(1) {
                background-image: url("image1.jpg");
            }

            .accordion ul li:nth-child(2) {
                background-image: url("image2.jpg");
            }

            .accordion ul li:nth-child(3) {
                background-image: url("image3.jpg");
            }

            .accordion ul li:nth-child(4) {
                background-image: url("image4.jpg");
            }

            .accordion ul li:nth-child(5) {
                background-image: url("image5.jpg");
            }

        .accordion ul:hover li {
            width: 8%;
        }

            .accordion ul:hover li:hover {
                width: 60%;
            }

                .accordion ul:hover li:hover a {
                    background: rgba(0, 0, 0, 0.4);
                }

                    .accordion ul:hover li:hover a * {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }

@media screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    .accordion {
        height: auto;
    }

        .accordion ul li,
        .accordion ul li:hover,
        .accordion ul:hover li,
        .accordion ul:hover li:hover {
            position: relative;
            display: table;
            table-layout: fixed;
            width: 100%;
            -webkit-transition: none;
            transition: none;
        }
}

.about {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #666;
}

    .about a {
        color: blue;
        text-decoration: none;
    }

        .about a:hover {
            text-decoration: underline;
        }

/*http://www.w3schools.com/howto/howto_css_modal_images.asp*/
/* Style the Image Used to Trigger the Modal */
#detailsdiv img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #detailsdiv img:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1280px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1280px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
