body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#navdiv {
    position: fixed;
    right: 1em;
    background-color: white;
}

    #navdiv li {
        list-style: none;
    }

#hw2stats {
    position: fixed;
    top: 1px;
    left: 825px;
    background-color: white;
    max-width: 25%;
}

#hw3stats {
    position: fixed;
    top: 1px;
    left: 825px;
    background-color: white;
    max-width: 600px;
}

    #hw3stats p.long {
        height: 400px;
        overflow-y: scroll;
    }

.hwstats {
    position: fixed;
    top: 1px;
    left: 825px;
    background-color: white;
    max-width: 600px;
}

    .hwstats p.long {
        height: 400px;
        overflow-y: scroll;
    }

#hw3v2stats {
    left: 1225px;
}

#hw3v3stats {
    left: 1225px;
}
